{% extends "base.html" %}
{% load static %}
{% block title %}Сброс пароля{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'shoplist/pages/index.css' %}">
{% endblock %}
{% block main %}
<main class="main container">
    <div class="custom-center-block">
        <p class="custom-text-block">Мы отправили вам по электронной почте инструкции по установке пароля.</p>
        <p class="custom-text-block">Если вы не получили электронное письмо, пожалуйста, убедитесь, что вы ввели адрес, по которому зарегистрировались.</p>
    </div>
</main>
{% endblock %}
