{% extends "base.html" %}
{% load static %}
{% block title %}Сброс пароля{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'shoplist/pages/index.css' %}">
{% endblock %}
{% block main %}
<main class="main container">
    <div class="custom-center-block">
        <p class="custom-text-block">We've emailed you instructions for setting your password.</p>
        <p class="custom-text-block">If you don't receive an email, please make sure you've entered the address you registered with.</p>
    </div>
</main>
{% endblock %}
