{% extends "base.html" %}
{% load static %}
{% block title %}Сброс пароля{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'shoplist/pages/index.css' %}">
{% endblock %}
{% block main %}
<main class="main container">
    <div class="custom-center-block">
        {% if validlink %}
            <p class="custom-text-block">Введите новый пароль</p>
            <form action="." method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <p><input type="submit" value="Изменить пароль"/></p>
            </form>
        {% else %}
            <p class="custom-text-block">The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
        {% endif %}
    </div>
</main>
{% endblock %}
