{% extends "base.html" %}
{% load static %}
{% block title %}Сброс пароля{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'shoplist/pages/index.css' %}">
{% endblock %}
{% block main %}
<main class="main container">
    <div class="custom-center-block">
        <p class="custom-text-block">Новый пароль установлен</p>
        <div class="custom-button-block">
            <form action="{% url 'login' %}">
                <button class="button button_style_blue">Войти на сайт</button>
            </form>
        </div>
    </div>
</main>
{% endblock %}