{% extends "base.html" %}
{% load static %}
{% block title %}Создание рецепта{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'shoplist/pages/form.css' %}">
{% endblock %}
{% block main %}
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">Создание рецепта</h1>
    </div>
    <div class="form-container">
        <form class="form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form__group">
                <label for="{{ form.title.id_for_label }}" class="form__label">Название рецепта</label>
                <div class="form__field-group">
                    <input type="text" id="{{ form.title.id_for_label }}" name="{{ form.title.name }}" class="form__input">
                    <span class="form__error">{{ form.title.errors }}</span>
                </div>
            </div>
            <div class="form__group">
                <p class="form__label">Теги</p>
                <div class="form__field-group">
                    <div class="tags">
                        <div class="tags__item">
                            <input type="checkbox" name="{{ form.tag.name }}" value="breakfast" id="id_tag_0" class="tags__checkbox tags__checkbox_style_orange">
                            <label for="id_tag_0" class="tags__label">Завтрак</label>
                        </div>
                        <div class="tags__item">
                            <input type="checkbox" name="{{ form.tag.name }}" value="lunch" id="id_tag_1" class="tags__checkbox tags__checkbox_style_green">
                            <label for="id_tag_1" class="tags__label">Обед</label>
                        </div>
                        <div class="tags__item">
                            <input type="checkbox" name="{{ form.tag.name }}" value="dinner" id="id_tag_2" class="tags__checkbox tags__checkbox_style_purple">
                            <label for="id_tag_2" class="tags__label">Ужин</label>
                        </div>
                    </div>
                    <span class="form__error">{{ form.tag.errors }}</span>
                </div>
            </div>
            <div class="form__group">
                <label for="nameIngredient" class="form__label">Ингредиенты</label>

                <div class="form__field-group">
                    <div class="form__field-group-ingredientes">
                        <div class="form__dropdown">
                            <input type="text" id="nameIngredient" class="form__input">
                            <div class="form__dropdown-items"></div>
                        </div>
                        <input type="number" id="cantidad" class="form__input" min="0">
                        <label for="cantidad" class="form__label" id="cantidadVal">шт.</label>
                    </div>
                    <div class="form__field-group-ingredientes-container">
                        список ингредиентов
                    </div>
                    <span class="form__ingredient-link" id="addIng">Добавить ингредиент</span>
                    <span class="form__error">{{ form.ingredients.errors }}</span>
                </div>
            </div>
            <div class="form__group">
                <label for="{{ form.time.id_for_label }}" class="form__label">Время приготовления</label>
                <div class="form__field-group form__field-group_time">
                    <input type="text" id="{{ form.time.id_for_label }}" name="{{ form.time.name }}" class="form__input">
                    <label for="{{ form.time.id_for_label }}" class="form__label">минут</label>
                    <span class="form__error">{{ form.time.errors }}</span>
                </div>
            </div>
            <div class="form__group">
                <label for="{{ form.description.id_for_label }}" class="form__label">Описание</label>
                <div class="form__field-group">
                    <textarea name="{{ form.description.name }}" id="{{ form.description.id_for_label }}" rows="8" class="form__textarea"></textarea>
                    <span class="form__error">{{ form.description.errors }}</span>
                </div>
            </div>
            <div class="form__group">
                <span class="form__label">Загрузить фото</span>
                <div class="form__field-group">
                    <input type="file" name="{{ form.image.name }}" id="{{ form.image.id_for_label }}">
                    <span class="form__error">{{ form.image.errors }}</span>
                </div>
            </div>
            {% for error in form.non_field_errors %}
                {{ error|escape }}
            {% endfor %}
            <div class="form__footer">
                <button type="submit" class="button button_style_blue">Создать рецепт</button>
            </div>
        </form>
    </div>
</main>
{% endblock %}
{% block javascript %}
<script src="{% static 'shoplist/js/components/Header.js' %}"></script>
<script src="{% static 'shoplist/js/config/config.js' %}"></script>
<script src="{% static 'shoplist/js/api/Api.js' %}"></script>
<script src="{% static 'shoplist/js/utils/debouncing.js' %}"></script>
<script src="{% static 'shoplist/formRecipe.js' %}"></script>
{% endblock %}