{% load static %}
{% load shoplist_extras %}
<div class="card-list">
    {% for recipe in page_obj %}
    <div class="card" data-id="{{ recipe.id }}">
        <a href="{{ recipe.get_absolute_url }}" class="link"><img src="/media/{{ recipe.image }}" alt="{{ recipe.title }}" class="card__image"></a>
        <div class="card__body">
            <a class="card__title link" href="{{ recipe.get_absolute_url }}">{{ recipe.title }}</a>
            <ul class="card__items">
                {% for tag in recipe.tags.all %}
                        <li class="card__item"><span class="badge badge_style_{{tag.color}}"> {{tag.name}} </span></li>
                {% endfor %}
            </ul>
            <div class="card__items card__items_column">
                <p class="card__text"><span class="icon-time"></span> {{ recipe.time }} мин.</p>
                <p class="card__text"><span class="icon-user"></span> <a href="{% url 'authorrecipes' recipe.author.username %}" style="color: black">{{ recipe.author }}</a></p>
            </div>
        </div>
        {% if user.is_authenticated %}
            <div class="card__footer">
                {% if recipe|is_purch_by:user %}
                    <button class="button button_style_light-blue-outline" name="purchases"><span class="icon-plus button__icon"></span>Рецепт добавлен</button>
                {% else %}
                    <button class="button button_style_light-blue" name="purchases" data-out><span class="icon-plus button__icon"></span>Добавить в покупки</button>
                {% endif %}
            </div>
        {% endif %}
    </div>
    {% empty %}
        <li>Добавьте первый рецепт</li>
    {% endfor %}
</div>