{% load shoplist_extras %}
<div class="main__header">
    <h1 class="main__title">
        {% if author == user %}
            Мои рецепты
        {% else %}
            Рецепты {{ author }}
        {% endif %}
    </h1>
    <ul class="tags">
        {% for tag in all_tags %}
            <li class="tags__item">
                <a id="{{ tag.title }}" class="tags__checkbox tags__checkbox_style_{{ tag.color }}
                    {% if tag.title in tags %}
                        tags__checkbox_active
                    {% else %}
                        tags__checkbox
                    {% endif %}
                    "
                   href="{{ request.path }}?tag={{ tag.title }}"></a>
                <span class="tags__label">{{ tag.name }}</span>
            </li>
        {% endfor %}
    </ul>
</div>