{% extends "base.html" %}
{% load static %}
{% block title %}Рецепты{% endblock %}
{% block stylesheet %}<link rel="stylesheet" href="{% static 'shoplist/pages/index.css' %}">{% endblock %}
{% block main %}
    <main class="main container">
        {% include "includes/main_header.html" %}
        {% include "includes/card_list.html" %}
        {% if page_obj.has_other_pages %}
            {% include "includes/paginator.html" %}
        {% endif %}
    </main>
{% endblock %}
{% block javascript %}
<script src="{% static 'shoplist/js/components/MainCards.js' %}"></script>
<script src="{% static 'shoplist/js/components/Purchases.js' %}"></script>
<script src="{% static 'shoplist/js/config/config.js' %}"></script>
<script src="{% static 'shoplist/js/components/CardList.js' %}"></script>
<script src="{% static 'shoplist/js/components/Header.js' %}"></script>
<script src="{% static 'shoplist/js/api/Api.js' %}"></script>
<script src="{% static 'shoplist/indexNotAuth.js' %}"></script>
{% endblock %}
