{% extends "base.html" %}
{% load static %}
{% block title %}Список покупок{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'shoplist/pages/shopList.css' %}">{% endblock %}
{% block main %}
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">Список покупок</h1>
    </div>
    <div class="card-list card-list_column">
        <ul class="shopping-list">
            <li class="shopping-list__item" data-id="111">
                <div class="recipe recipe_reverse">
                    <img src="{% static 'shoplist/images/testCardImg.png' %}" alt="какой-то текст" class="recipe__image recipe__image_big">
                    <h3 class="recipe__title">Французские тосты</h3>
                    <p class="recipe__text"><span class="icon-time"></span> 20 мин.</p>
                </div>
                <a href="#" class="shopping-list__button link">Удалить</a>
            </li>
            <li class="shopping-list__item" data-id="1112">
                <div class="recipe recipe_reverse">
                    <img src="{% static 'shoplist/images/testCardImg.png' %}" alt="какой-то текст" class="recipe__image recipe__image_big">
                    <h3 class="recipe__title">Французские тосты</h3>
                    <p class="recipe__text"><span class="icon-time"></span> 20 мин.</p>
                </div>
                <a href="#" class="shopping-list__button link">Удалить</a>
            </li>
            <li class="shopping-list__item" data-id="1113">
                <div class="recipe recipe_reverse">
                    <img src="{% static 'shoplist/images/testCardImg.png' %}" alt="какой-то текст" class="recipe__image recipe__image_big">
                    <h3 class="recipe__title">Французские тосты</h3>
                    <p class="recipe__text"><span class="icon-time"></span> 20 мин.</p>
                </div>
                <a href="#" class="shopping-list__button link">Удалить</a>
            </li>
        </ul>
        <a href="#"><button class="button button_style_blue">Скачать список</button></a>
    </div>
</main>
{% endblock %}
{% block javascript %}
<script src="{% static 'shoplist/js/components/Header.js' %}"></script>
<script src="{% static 'shoplist/js/config/config.js' %}"></script>
<script src="{% static 'shoplist/js/api/Api.js' %}"></script>
<script src="{% static 'shoplist/js/components/ShopList.js' %}"></script>
<script src="{% static 'shoplist/shopList.js' %}"></script>
{% endblock %}